@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* .imgDark {
  display: none;
} */

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .imgLight {
    display: none;
  }
  .imgDark {
    display: unset;
  }
} */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.22 47.37% 11.18%;
    --muted: 220 14.29% 95.88%;
    --muted-foreground: 215.29 19.32% 34.51%;
    --popover: 0 6.67% 97.06%;
    --popover-foreground: 222.22 47.37% 11.18%;
    --card: 210 20% 98.04%;
    --card-foreground: 222.22 47.37% 11.18%;
    --border: 216 12.2% 83.92%;
    --input: 216 12.2% 83.92%;
    --primary: 331.29 100% 68.04%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 13.04% 90.98%;
    --secondary-foreground: 222.22 47.37% 11.18%;
    --accent: 220 13.04% 90.98%;
    --accent-foreground: 222.22 47.37% 11.18%;
    --destructive: 350.94 96.7% 53.33%;
    --destructive-foreground: 0 0% 98.04%;
    --ring: 331.18 100% 80%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 213 30.3% 12.94%;
    --foreground: 90 40% 98.04%;
    --muted: 218.82 17.89% 18.63%;
    --muted-foreground: 0 0% 82.35%;
    --popover: 213.91 26.44% 17.06%;
    --popover-foreground: 90 40% 98.04%;
    --card: 213.91 26.44% 17.06%;
    --card-foreground: 90 40% 98.04%;
    --border: 213.75 9.2% 34.12%;
    --input: 213.75 9.2% 34.12%;
    --primary: 331.18 100% 55.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 213.91 26.44% 17.06%;
    --secondary-foreground: 90 40% 98.04%;
    --accent: 220.91 39.29% 10.98%;
    --accent-foreground: 90 40% 98.04%;
    --destructive: 344.15 100% 46.54%;
    --destructive-foreground: 0 0% 100%;
    --ring: 331 100% 68%;
  }
}

/* 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

.debug {
  @apply border border-red-600;
}

.hover:hover {
  @apply opacity-80;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
